<a href="https://colab.research.google.com/github/SamanthaMcKay/Deep-Learning-Challenge/blob/main/Copy_of_Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts=application_df["APPLICATION_TYPE"].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set a cutoff value based on your criteria
cutoff_value = 200
# Create a list of application types to be replaced with 'Other'
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts=application_df["CLASSIFICATION"].value_counts()
print(classification_type_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
for index, count in classification_type_counts.iteritems():
    if count > 1:
        print(f"{index}: {count}")
    else:
        continue

C1000: 17326
C2000: 6074
C1200: 4837
C3000: 1918
C2100: 1883
C7000: 777
C1700: 287
C4000: 194
C5000: 116
C1270: 114
C2700: 104
C2800: 95
C7100: 75
C1300: 58
C1280: 50
C1230: 36
C1400: 34
C7200: 32
C2300: 32
C1240: 30
C8000: 20
C7120: 18
C1500: 16
C1800: 15
C6000: 15
C1250: 14
C8200: 11
C1238: 10
C1278: 10
C1235: 9
C1237: 9
C7210: 7
C2400: 6
C1720: 6
C4100: 6
C1257: 5
C1600: 5
C1260: 3
C2710: 3
C0: 3
C3200: 2
C1234: 2
C1246: 2
C1267: 2
C1256: 2

<ipython-input-7-eaf3280d31e6>:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for index, count in classification_type_counts.iteritems():

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Set a cutoff value based on your criteria
cutoff_value = 1000
# Create a list of classification types to be replaced with 'Other'
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
# Specify the columns you want to one-hot encode
columns_to_encode = ['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Use get_dummies to convert the specified columns into dummy variables
application_df_dummies = pd.get_dummies(application_df[columns_to_encode], prefix=columns_to_encode, drop_first=True)

# Concatenate the dummy variables with the original DataFrame
application_df = pd.concat([application_df, application_df_dummies], axis=1)

# Drop the original categorical columns if needed
application_df = application_df.drop(columns_to_encode, axis=1)

# Print the resulting DataFrame
print(application_df)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  \
0           1      5000              1                     1
1           1    108590              1                     0
2           1      5000              0                     0
3           1      6692              1                     0
4           1    142590              1                     0
...       ...       ...            ...                   ...
34294       1      5000              0                     0
34295       1      5000              0                     0
34296       1      5000              0                     0
34297       1      5000              1                     0
34298       1  36500179              0                     0

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                         0                    0                    0
1                         0                    1                    0
2                         0                    0                    0
3                         0                    1                    0
4                         0                    1                    0
...                     ...                  ...                  ...
34294                     0                    0                    1
34295                     0                    0                    1
34296                     0                    1                    0
34297                     0                    0                    0
34298                     0                    1                    0

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        1                    0                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    0                    0                    0  ...
34295                    0                    0                    0  ...
34296                    0                    0                    0  ...
34297                    1                    0                    0  ...
34298                    0                    0                    0  ...

       ORGANIZATION_Trust  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                       0                  0                       0
1                       0                  1                       0
2                       0                  0                       0
3                       1                  0                       1
4                       1                  0                       0
...                   ...                ...                     ...
34294                   0                  0                       0
34295                   0                  0                       0
34296                   0                  0                       0
34297                   0                  0                       0
34298                   0                  0                       0

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                             0                   0                 0
1                             0                   0                 0
2                             0                   0                 0
3                             0                   0                 0
4                             1                   0                 0
...                         ...                 ...               ...
34294                         0                   0                 0
34295                         0                   0                 0
34296                         0                   0                 0
34297                         0                   0                 0
34298                         0                   0                 1

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                           0                0                  0
1                           0                0                  0
2                           0                0                  0
3                           0                0                  0
4                           0                0                  0
...                       ...              ...                ...
34294                       0                0                  0
34295                       0                0                  0
34296                       0                0                  0
34297                       0                0                  0
34298                       0                0                  0

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 37 columns]

In [10]:
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
5,1,5000,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6,1,31452,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
7,1,7508025,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
8,1,94389,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
9,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
print(application_df.nunique())

STATUS                          2
ASK_AMT                      8747
IS_SUCCESSFUL                   2
APPLICATION_TYPE_T10            2
APPLICATION_TYPE_T19            2
APPLICATION_TYPE_T3             2
APPLICATION_TYPE_T4             2
APPLICATION_TYPE_T5             2
APPLICATION_TYPE_T6             2
APPLICATION_TYPE_T7             2
APPLICATION_TYPE_T8             2
AFFILIATION_Family/Parent       2
AFFILIATION_Independent         2
AFFILIATION_National            2
AFFILIATION_Other               2
AFFILIATION_Regional            2
CLASSIFICATION_C1200            2
CLASSIFICATION_C2000            2
CLASSIFICATION_C2100            2
CLASSIFICATION_C3000            2
CLASSIFICATION_Other            2
USE_CASE_Heathcare              2
USE_CASE_Other                  2
USE_CASE_Preservation           2
USE_CASE_ProductDev             2
ORGANIZATION_Co-operative       2
ORGANIZATION_Corporation        2
ORGANIZATION_Trust              2
INCOME_AMT_1-9999               2
INCOME_AMT_10000-24999          2
INCOME_AMT_100000-499999        2
INCOME_AMT_10M-50M              2
INCOME_AMT_1M-5M                2
INCOME_AMT_25000-99999          2
INCOME_AMT_50M+                 2
INCOME_AMT_5M-10M               2
SPECIAL_CONSIDERATIONS_Y        2
dtype: int64

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=36))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                592

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 881 (3.44 KB)
Trainable params: 881 (3.44 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 9s 8ms/step - loss: 0.6112 - accuracy: 0.6918
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5625 - accuracy: 0.7242
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5566 - accuracy: 0.7269
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5537 - accuracy: 0.7288
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5524 - accuracy: 0.7296
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7319
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7305
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7314
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7315
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7314
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7308
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7327
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7317
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7326
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7326
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7334
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7323
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7320
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7332
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7346
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7340
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7334
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7331
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7338
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7332
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7342
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7342
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7343
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7350
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7333
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7356
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7355
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7358
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7351
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7356
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7341
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7341
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7344
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5427 - accuracy: 0.7354
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5426 - accuracy: 0.7349
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7346
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7349
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7353
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7348
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7353
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7358
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7362
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7356
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5419 - accuracy: 0.7364
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7355
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7364
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7347
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7355
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5415 - accuracy: 0.7350
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7363
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7353
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7358
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7360
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7356
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7355
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7362
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7365
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7353
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5407 - accuracy: 0.7362
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7363
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7356
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7359
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7350
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7363
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7376
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7357
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7358
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7379
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5401 - accuracy: 0.7363

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5556 - accuracy: 0.7280 - 668ms/epoch - 2ms/step
Loss: 0.5555563569068909, Accuracy: 0.7280466556549072

In [18]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(